* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000080;
    color: #E0E6F1;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color:  #008080;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    color: #9DA5B4;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #fff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
    color: #fff;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    background-color:  #008080;
    padding: 20px;
    border-radius: 10px;
}

.large-card {
    grid-column: span 2;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
}

.card li {
    margin: 10px 0;
    color: #9DA5B4;
}

.card p {
    font-size: 24px;
    color: #9DA5B4;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color:  #008080;
}

/* Change color on hover */
.topnav a:hover {
  background-color: seagreen;
  color: black;
}

.main-content {
  padding: 30px;
  text-align: center;
  background: gray;
  top: 250px;
  left: 420px;
}

.main-content h1 {
	font-size: 30px;
	top: 50px;
	left: 120px;
}

img {
	position: relative;
	top: -60px;
	left: 120px;
}

footer {
  padding: 20px;
  text-align: center;
  background: blue;
  margin-top: 20px;
}
